@tailwind base;
@tailwind components;
@tailwind utilities;

/* .red {
  color: red;
}

.header {
  display: flex;
  border: 1px solid black;
}

.header > .logo {
  height: 75px;
  width: 75px;
}

.header > nav {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-left: auto;
  margin-right: 20px;
}

.header > nav > ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
  align-items: center;
}

.header > nav > ul > li > a,
.header > nav > ul > li > a:hover,
.header > nav > ul > li > a:active,
.header > nav > ul > li > a:visited {
  color: #000000;
  text-decoration: none;
}

.header > nav > ul > li .btnLogin {
  width: 75px;
  height: 75px;
  border-radius: 1px solid;
  font-weight: bold;
}

.body {
  margin: 10px 5px;
}

.filter {
  display: flex;
  flex-wrap: wrap;
  justify-items: left;
}

.filter > .search,
.filter > .filter-btn {
  margin: 5px;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.res-container > a,
.res-container > a:hover,
.res-container a:active,
.res-container > a:visited {
  color: #000000;
  text-decoration: none;
}

.res-card {
  margin: 5px;
  width: 200px;
  border-radius: 5px;
  text-align: center;
  padding: 5px;
}

.res-card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.3s;
  border: 1px solid grey;
  cursor: pointer;
}
.res-card img {
  width: 100%;
  margin-top: 10px;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.shimmer-card {
  margin: 5px;
  width: 200px;
  height: 400px;
  background-color: #f0f0f0;
} */
